$channel: rgba(17, 75, 121, 1);
$text: rgba(211, 211, 211, 1);
$alert: rgba(229, 152, 35, 1);
$cta: rgba(28, 44, 98, 1);
$long: rgba(0, 170, 64, 1);
$short: rgba(232, 9, 58, 1);
$bg: rgba(0, 0, 0, 1);
$border: rgba(42, 42, 42, 1);
$weak: rgba(135, 135, 135, 1);
