.beacon-sym-d:before {
    content: "\f152"
}
.beacon-sym-default:before {
    content: "\f152"
}
.beacon-sym-d-s:before {
    content: "\f151"
}
.beacon-exc-d:before {
    content: "\f102"
}
.beacon-exc-d-s:before {
    content: "\f101"
}
.beacon-exc-default:before {
    content: "\f102"
}
.beacon-exc-default-s:before {
    content: "\f101"
}
.beacon-cur-default:before {
    content: "\f152"
}
.beacon-cur-default-s:before {
    content: "\f151"
}
.beacon-cur-anct:before {
    content: "\f18e"
}
.beacon-cur-anct-s:before {
    content: "\f18d"
}
.beacon-cur-aud:before {
    content: "\f1b4"
}
.beacon-cur-aud-s:before {
    content: "\f1b3"
}
.beacon-cur-bnb:before {
    content: "\f211"
}
.beacon-cur-bnb-s:before {
    content: "\f210"
}
.beacon-sym-xbt:before {
    content: "\f233"
}
.beacon-cur-btc:before {
    content: "\f233"
}
.beacon-sym-xbt-s:before {
    content: "\f232"
}
.beacon-cur-btc-s:before {
    content: "\f232"
}
.beacon-cur-busd:before {
    content: "\f24f"
}
.beacon-cur-busd-s:before {
    content: "\f24e"
}
.beacon-exc-bitz:before {
    content: "\f253"
}
.beacon-cur-bz:before {
    content: "\f253"
}
.beacon-exc-bitz-s:before {
    content: "\f252"
}
.beacon-cur-bz-s:before {
    content: "\f252"
}
.beacon-cur-cad:before {
    content: "\f25b"
}
.beacon-cur-cad-s:before {
    content: "\f25a"
}
.beacon-cur-chf:before {
    content: "\f27b"
}
.beacon-cur-chf-s:before {
    content: "\f27a"
}
.beacon-cur-cny:before {
    content: "\f29d"
}
.beacon-cur-cny-s:before {
    content: "\f29c"
}
.beacon-sym-cs:before {
    content: "\f2ad"
}
.beacon-sym-cs-s:before {
    content: "\f2ac"
}
.beacon-cur-dai:before {
    content: "\f2e5"
}
.beacon-cur-dai-s:before {
    content: "\f2e4"
}
.beacon-sym-xdg:before {
    content: "\f31f"
}
.beacon-sym-xdg-s:before {
    content: "\f31e"
}
.beacon-cur-eos:before {
    content: "\f35e"
}
.beacon-cur-eos-s:before {
    content: "\f35d"
}
.beacon-sym-eth2:before {
    content: "\f36c"
}
.beacon-sym-eth2s:before {
    content: "\f36c"
}
.beacon-sym-eth2.s:before {
    content: "\f36c"
}
.beacon-sym-weth:before {
    content: "\f36c"
}
.beacon-cur-eth:before {
    content: "\f36c"
}
.beacon-sym-eth2-s:before {
    content: "\f36b"
}
.beacon-sym-eth2s-s:before {
    content: "\f36b"
}
.beacon-sym-eth2.s-s:before {
    content: "\f36b"
}
.beacon-sym-weth-s:before {
    content: "\f36b"
}
.beacon-cur-eth-s:before {
    content: "\f36b"
}
.beacon-cur-eur:before {
    content: "\f374"
}
.beacon-cur-eur-s:before {
    content: "\f373"
}
.beacon-cur-eurs:before {
    content: "\f376"
}
.beacon-cur-eurs-s:before {
    content: "\f375"
}
.beacon-sym-usdt:before {
    content: "\f378"
}
.beacon-cur-usdt:before {
    content: "\f378"
}
.beacon-sym-usdt-s:before {
    content: "\f377"
}
.beacon-cur-usdt-s:before {
    content: "\f377"
}
.beacon-exc-kraken:before {
    content: "\f38c"
}
.beacon-exc-kraken-futures:before {
    content: "\f38c"
}
.beacon-exc-kraken-s:before {
    content: "\f38b"
}
.beacon-exc-kraken-futures-s:before {
    content: "\f38b"
}
.beacon-cur-gbp:before {
    content: "\f3cc"
}
.beacon-cur-gbp-s:before {
    content: "\f3cb"
}
.beacon-exc-gemini:before {
    content: "\f401"
}
.beacon-cur-gusd:before {
    content: "\f401"
}
.beacon-exc-gemini-s:before {
    content: "\f400"
}
.beacon-cur-gusd-s:before {
    content: "\f400"
}
.beacon-cur-hkd:before {
    content: "\f419"
}
.beacon-cur-hkd-s:before {
    content: "\f418"
}
.beacon-sym-husd:before {
    content: "\f42d"
}
.beacon-exc-huobi:before {
    content: "\f42d"
}
.beacon-cur-ht:before {
    content: "\f42d"
}
.beacon-sym-husd-s:before {
    content: "\f42c"
}
.beacon-exc-huobi-s:before {
    content: "\f42c"
}
.beacon-cur-ht-s:before {
    content: "\f42c"
}
.beacon-cur-idr:before {
    content: "\f447"
}
.beacon-cur-idr-s:before {
    content: "\f446"
}
.beacon-sym-iota:before {
    content: "\f467"
}
.beacon-sym-iota-s:before {
    content: "\f466"
}
.beacon-cur-inr:before {
    content: "\f45b"
}
.beacon-cur-inr-s:before {
    content: "\f45a"
}
.beacon-cur-jpy:before {
    content: "\f477"
}
.beacon-cur-jpy-s:before {
    content: "\f476"
}
.beacon-cur-krw:before {
    content: "\f49b"
}
.beacon-cur-krw-s:before {
    content: "\f49a"
}
.beacon-sym-medx:before {
    content: "\f4f7"
}
.beacon-sym-medx-s:before {
    content: "\f4f6"
}
.beacon-cur-mxn:before {
    content: "\f53b"
}
.beacon-cur-mxn-s:before {
    content: "\f53a"
}
.beacon-cur-myr:before {
    content: "\f53d"
}
.beacon-cur-myr-s:before {
    content: "\f53c"
}
.beacon-cur-ngn:before {
    content: "\f561"
}
.beacon-cur-ngn-s:before {
    content: "\f560"
}
.beacon-cur-pax:before {
    content: "\f5bf"
}
.beacon-cur-pax-s:before {
    content: "\f5be"
}
.beacon-cur-php:before {
    content: "\f5d1"
}
.beacon-cur-php-s:before {
    content: "\f5d0"
}
.beacon-cur-pln:before {
    content: "\f5e3"
}
.beacon-cur-pln-s:before {
    content: "\f5e2"
}
.beacon-cur-qash:before {
    content: "\f60f"
}
.beacon-cur-qash-s:before {
    content: "\f60e"
}
.beacon-cur-rub:before {
    content: "\f661"
}
.beacon-cur-rur:before {
    content: "\f661"
}
.beacon-cur-rub-s:before {
    content: "\f660"
}
.beacon-cur-rur-s:before {
    content: "\f660"
}
.beacon-sym-steem:before {
    content: "\f676"
}
.beacon-sym-steem-s:before {
    content: "\f675"
}
.beacon-sym-xsc:before {
    content: "\f678"
}
.beacon-sym-xsc-s:before {
    content: "\f677"
}
.beacon-cur-sgd:before {
    content: "\f690"
}
.beacon-cur-sgd-s:before {
    content: "\f68f"
}
.beacon-sym-storj:before {
    content: "\f69c"
}
.beacon-sym-storj-s:before {
    content: "\f69b"
}
.beacon-sym-tel:before {
    content: "\f702"
}
.beacon-cur-trx:before {
    content: "\f73f"
}
.beacon-cur-trx-s:before {
    content: "\f73e"
}
.beacon-cur-tusd:before {
    content: "\f74f"
}
.beacon-cur-tusd-s:before {
    content: "\f74e"
}
.beacon-cur-usd:before {
    content: "\f76b"
}
.beacon-cur-usd-s:before {
    content: "\f76a"
}
.beacon-cur-usdc:before {
    content: "\f76d"
}
.beacon-cur-usdc-s:before {
    content: "\f76c"
}
.beacon-sym-vet:before {
    content: "\f785"
}
.beacon-sym-vet-s:before {
    content: "\f784"
}
.beacon-sym-waxp:before {
    content: "\f7b5"
}
.beacon-sym-waxp-s:before {
    content: "\f7b4"
}
.beacon-cur-xlm:before {
    content: "\f7eb"
}
.beacon-cur-xlm-s:before {
    content: "\f7ea"
}
.beacon-cur-xmr:before {
    content: "\f7ef"
}
.beacon-cur-xmr-s:before {
    content: "\f7ee"
}
.beacon-cur-xrp:before {
    content: "\f803"
}
.beacon-cur-xrp-s:before {
    content: "\f802"
}
.beacon-cur-zar:before {
    content: "\f829"
}
.beacon-cur-zar-s:before {
    content: "\f828"
}
.beacon-exc-binance-us:before {
    content: "\f106"
}
.beacon-exc-binance-us-s:before {
    content: "\f105"
}
.beacon-exc-mexbt:before {
    content: "\f11c"
}
.beacon-exc-mexbt-s:before {
    content: "\f11b"
}
.beacon-exc-coinbase-pro:before {
    content: "\f124"
}
.beacon-exc-gdax:before {
    content: "\f124"
}
.beacon-exc-coinbase-pro-s:before {
    content: "\f123"
}
.beacon-exc-gdax-s:before {
    content: "\f123"
}
.beacon-exc-quadriga:before {
    content: "\f144"
}
.beacon-exc-quadriga-s:before {
    content: "\f143"
}
.beacon-cur-crc:before {
    content: "\f2b3"
}
.beacon-cur-crc-s:before {
    content: "\f2b2"
}
.beacon-cur-lak:before {
    content: "\f4a5"
}
.beacon-cur-lak-s:before {
    content: "\f4a4"
}
.beacon-cur-sek:before {
    content: "\f684"
}
.beacon-cur-sek-s:before {
    content: "\f683"
}
.beacon-cur-thb:before {
    content: "\f70f"
}
.beacon-cur-thb-s:before {
    content: "\f70e"
}
.beacon-cur-try:before {
    content: "\f741"
}
.beacon-cur-try-s:before {
    content: "\f740"
}
.beacon-cur-uah:before {
    content: "\f753"
}
.beacon-cur-uah-s:before {
    content: "\f752"
}