.beacon-sym-d:before {
    content: "\f2f9"
}
.beacon-cur-default:before {
    content: "\f2f9"
}
.beacon-sym-d-s:before {
    content: "\f2f8"
}
.beacon-cur-default-s:before {
    content: "\f2f8"
}
.beacon-cur-anct:before {
    content: "\f18c"
}
.beacon-cur-anct-s:before {
    content: "\f18b"
}
.beacon-cur-aud:before {
    content: "\f1b2"
}
.beacon-cur-aud-s:before {
    content: "\f1b1"
}
.beacon-cur-bnb:before {
    content: "\f20f"
}
.beacon-cur-bnb-s:before {
    content: "\f20e"
}
.beacon-sym-xbt:before {
    content: "\f231"
}
.beacon-cur-btc:before {
    content: "\f231"
}
.beacon-sym-xbt-s:before {
    content: "\f230"
}
.beacon-cur-btc-s:before {
    content: "\f230"
}
.beacon-cur-busd:before {
    content: "\f24d"
}
.beacon-cur-busd-s:before {
    content: "\f24c"
}
.beacon-exc-bitz:before {
    content: "\f251"
}
.beacon-cur-bz:before {
    content: "\f251"
}
.beacon-exc-bitz-s:before {
    content: "\f250"
}
.beacon-cur-bz-s:before {
    content: "\f250"
}
.beacon-cur-cad:before {
    content: "\f259"
}
.beacon-cur-cad-s:before {
    content: "\f258"
}
.beacon-cur-chf:before {
    content: "\f277"
}
.beacon-cur-chf-s:before {
    content: "\f276"
}
.beacon-cur-cny:before {
    content: "\f299"
}
.beacon-cur-cny-s:before {
    content: "\f298"
}
.beacon-sym-cs:before {
    content: "\f2a9"
}
.beacon-sym-cs-s:before {
    content: "\f2a8"
}
.beacon-cur-dai:before {
    content: "\f2df"
}
.beacon-cur-dai-s:before {
    content: "\f2de"
}
.beacon-sym-xdg:before {
    content: "\f31a"
}
.beacon-sym-xdg-s:before {
    content: "\f319"
}
.beacon-cur-eos:before {
    content: "\f359"
}
.beacon-cur-eos-s:before {
    content: "\f358"
}
.beacon-sym-eth2:before {
    content: "\f367"
}
.beacon-sym-eth2s:before {
    content: "\f367"
}
.beacon-sym-eth2.s:before {
    content: "\f367"
}
.beacon-sym-weth:before {
    content: "\f367"
}
.beacon-cur-eth:before {
    content: "\f367"
}
.beacon-sym-eth2-s:before {
    content: "\f366"
}
.beacon-sym-eth2s-s:before {
    content: "\f366"
}
.beacon-sym-eth2.s-s:before {
    content: "\f366"
}
.beacon-sym-weth-s:before {
    content: "\f366"
}
.beacon-cur-eth-s:before {
    content: "\f366"
}
.beacon-cur-eur:before {
    content: "\f36f"
}
.beacon-cur-eur-s:before {
    content: "\f36e"
}
.beacon-cur-eurs:before {
    content: "\f371"
}
.beacon-cur-eurs-s:before {
    content: "\f370"
}
.beacon-sym-usdt:before {
    content: "\f373"
}
.beacon-cur-usdt:before {
    content: "\f373"
}
.beacon-sym-usdt-s:before {
    content: "\f372"
}
.beacon-cur-usdt-s:before {
    content: "\f372"
}
.beacon-exc-kraken:before {
    content: "\f387"
}
.beacon-exc-kraken-futures:before {
    content: "\f387"
}
.beacon-exc-kraken-s:before {
    content: "\f386"
}
.beacon-exc-kraken-futures-s:before {
    content: "\f386"
}
.beacon-cur-gbp:before {
    content: "\f3c7"
}
.beacon-cur-gbp-s:before {
    content: "\f3c6"
}
.beacon-exc-gemini:before {
    content: "\f3fa"
}
.beacon-cur-gusd:before {
    content: "\f3fa"
}
.beacon-exc-gemini-s:before {
    content: "\f3f9"
}
.beacon-cur-gusd-s:before {
    content: "\f3f9"
}
.beacon-cur-hkd:before {
    content: "\f412"
}
.beacon-cur-hkd-s:before {
    content: "\f411"
}
.beacon-sym-husd:before {
    content: "\f426"
}
.beacon-exc-huobi:before {
    content: "\f426"
}
.beacon-cur-ht:before {
    content: "\f426"
}
.beacon-sym-husd-s:before {
    content: "\f425"
}
.beacon-exc-huobi-s:before {
    content: "\f425"
}
.beacon-cur-ht-s:before {
    content: "\f425"
}
.beacon-cur-idr:before {
    content: "\f440"
}
.beacon-cur-idr-s:before {
    content: "\f43f"
}
.beacon-sym-iota:before {
    content: "\f460"
}
.beacon-sym-iota-s:before {
    content: "\f45f"
}
.beacon-cur-inr:before {
    content: "\f454"
}
.beacon-cur-inr-s:before {
    content: "\f453"
}
.beacon-cur-jpy:before {
    content: "\f470"
}
.beacon-cur-jpy-s:before {
    content: "\f46f"
}
.beacon-cur-krw:before {
    content: "\f492"
}
.beacon-cur-krw-s:before {
    content: "\f491"
}
.beacon-sym-medx:before {
    content: "\f4ee"
}
.beacon-sym-medx-s:before {
    content: "\f4ed"
}
.beacon-cur-mxn:before {
    content: "\f52e"
}
.beacon-cur-mxn-s:before {
    content: "\f52d"
}
.beacon-cur-myr:before {
    content: "\f530"
}
.beacon-cur-myr-s:before {
    content: "\f52f"
}
.beacon-cur-ngn:before {
    content: "\f554"
}
.beacon-cur-ngn-s:before {
    content: "\f553"
}
.beacon-cur-pax:before {
    content: "\f5b2"
}
.beacon-cur-pax-s:before {
    content: "\f5b1"
}
.beacon-cur-php:before {
    content: "\f5c4"
}
.beacon-cur-php-s:before {
    content: "\f5c3"
}
.beacon-cur-pln:before {
    content: "\f5d6"
}
.beacon-cur-pln-s:before {
    content: "\f5d5"
}
.beacon-cur-qash:before {
    content: "\f602"
}
.beacon-cur-qash-s:before {
    content: "\f601"
}
.beacon-cur-rub:before {
    content: "\f656"
}
.beacon-cur-rur:before {
    content: "\f656"
}
.beacon-cur-rub-s:before {
    content: "\f655"
}
.beacon-cur-rur-s:before {
    content: "\f655"
}
.beacon-sym-steem:before {
    content: "\f66b"
}
.beacon-sym-steem-s:before {
    content: "\f66a"
}
.beacon-sym-xsc:before {
    content: "\f66d"
}
.beacon-sym-xsc-s:before {
    content: "\f66c"
}
.beacon-cur-sgd:before {
    content: "\f685"
}
.beacon-cur-sgd-s:before {
    content: "\f684"
}
.beacon-sym-storj:before {
    content: "\f691"
}
.beacon-sym-storj-s:before {
    content: "\f690"
}
.beacon-sym-tel:before {
    content: "\f6f5"
}
.beacon-cur-trx:before {
    content: "\f732"
}
.beacon-cur-trx-s:before {
    content: "\f731"
}
.beacon-cur-tusd:before {
    content: "\f742"
}
.beacon-cur-tusd-s:before {
    content: "\f741"
}
.beacon-cur-usd:before {
    content: "\f75e"
}
.beacon-cur-usd-s:before {
    content: "\f75d"
}
.beacon-cur-usdc:before {
    content: "\f760"
}
.beacon-cur-usdc-s:before {
    content: "\f75f"
}
.beacon-sym-vet:before {
    content: "\f778"
}
.beacon-sym-vet-s:before {
    content: "\f777"
}
.beacon-sym-waxp:before {
    content: "\f7a8"
}
.beacon-sym-waxp-s:before {
    content: "\f7a7"
}
.beacon-cur-xlm:before {
    content: "\f7de"
}
.beacon-cur-xlm-s:before {
    content: "\f7dd"
}
.beacon-cur-xmr:before {
    content: "\f7e2"
}
.beacon-cur-xmr-s:before {
    content: "\f7e1"
}
.beacon-cur-xrp:before {
    content: "\f7f4"
}
.beacon-cur-xrp-s:before {
    content: "\f7f3"
}
.beacon-cur-zar:before {
    content: "\f81a"
}
.beacon-cur-zar-s:before {
    content: "\f819"
}
.beacon-exc-d:before {
    content: "\f128"
}
.beacon-exc-d-s:before {
    content: "\f127"
}
.beacon-exc-binance-us:before {
    content: "\f104"
}
.beacon-exc-binance-us-s:before {
    content: "\f103"
}
.beacon-exc-mexbt:before {
    content: "\f11a"
}
.beacon-exc-mexbt-s:before {
    content: "\f119"
}
.beacon-exc-coinbase-pro:before {
    content: "\f122"
}
.beacon-exc-gdax:before {
    content: "\f122"
}
.beacon-exc-coinbase-pro-s:before {
    content: "\f121"
}
.beacon-exc-gdax-s:before {
    content: "\f121"
}
.beacon-exc-quadriga:before {
    content: "\f144"
}
.beacon-exc-quadriga-s:before {
    content: "\f143"
}
.beacon-cur-crc:before {
    content: "\f2af"
}
.beacon-cur-crc-s:before {
    content: "\f2ae"
}
.beacon-cur-lak:before {
    content: "\f49c"
}
.beacon-cur-lak-s:before {
    content: "\f49b"
}
.beacon-cur-sek:before {
    content: "\f679"
}
.beacon-cur-sek-s:before {
    content: "\f678"
}
.beacon-cur-thb:before {
    content: "\f702"
}
.beacon-cur-thb-s:before {
    content: "\f701"
}
.beacon-cur-try:before {
    content: "\f734"
}
.beacon-cur-try-s:before {
    content: "\f733"
}
.beacon-cur-uah:before {
    content: "\f746"
}
.beacon-cur-uah-s:before {
    content: "\f745"
}